build/
dist/
node_modules/

.cache/
.yarn/
npm-debug.log
yarn-error.log

.env

.pnp.js
yarn.lock
package-lock.json

.idea/
.vscode/

.DS_Store
Thumbs.db

# Logs
*.log

__pycache__/
*.pyc

.eslintcache
